/.buildpath
/.cache
/.metadata
/.project
/.settings
/.github
atlassian*
/nbproject
/sitemap
/sitemap.xml
/.idea
/.gitattributes
/app/config_sandbox
/app/etc/env.php
/app/code/Magento/TestModule*
/lib/internal/flex/uploader/.actionScriptProperties
/lib/internal/flex/uploader/.flexProperties
/lib/internal/flex/uploader/.project
/lib/internal/flex/uploader/.settings
/lib/internal/flex/varien/.actionScriptProperties
/lib/internal/flex/varien/.flexLibProperties
/lib/internal/flex/varien/.project
/lib/internal/flex/varien/.settings
/node_modules
/.grunt

/pub/media/*.*
!/pub/media/.htaccess
/pub/media/catalog/*
!/pub/media/catalog/.htaccess
/pub/media/customer/*
!/pub/media/customer/.htaccess
/pub/media/downloadable/*
!/pub/media/downloadable/.htaccess
/pub/media/import/*
!/pub/media/import/.htaccess
/pub/media/theme/*
/pub/media/theme_customization/*
!/pub/media/theme_customization/.htaccess
/pub/media/wysiwyg/*
!/pub/media/wysiwyg/.htaccess
/pub/media/tmp/*
!/pub/media/tmp/.htaccess
/pub/media/captcha/*
/pub/static/*
!/pub/static/.htaccess

/var/*
!/var/.htaccess
/vendor/*
!/vendor/.htaccess

/en
/de
/fr
/languagefolders/*

/.htaccess
/.htaccess.sample
/.travis.yml.sample
/.php_cs
/.travis.yml
/CHANGELOG.md
/SECURITY.md
/CONTRIBUTING.md
/COPYING.txt
/Gruntfile.js.sample
/ISSUE_TEMPLATE.md
/LICENSE.txt
/LICENSE_AFL.txt
/*.tar
/*.sql
/app/autoload.php
/app/bootstrap.php
/app/etc/NonComposerComponentRegistration.php
/app/etc/di.xml
/app/functions.php
/bin/
/dev/
/index.php
/lib/
/nginx.conf.sample
/package.json.sample
/php.ini.sample
/phpserver/
/pub/cron.php
/pub/errors/404.php
/pub/errors/503.php
/pub/errors/default/404.phtml
/pub/errors/default/503.phtml
/pub/errors/default/css/
/pub/errors/default/nocache.phtml
/pub/errors/default/page.phtml
/pub/errors/default/report.phtml
/pub/errors/design.xml
/pub/errors/local.xml.sample
/pub/errors/noCache.php
/pub/errors/processor.php
/pub/errors/processorFactory.php
/pub/errors/report.php
/pub/get.php
/pub/index.php
/pub/static.php
/setup/
/var/
/vendor/

/.php_cs.dist
/PULL_REQUEST_TEMPLATE.md
/auth.json.sample
/generated/
/grunt-config.json.sample
/pub
/app/.htaccess
/.user.ini
.php_cs.cache

web/js/bundle.js
